/*实现页面随分辨率自适应*/
body {
    margin: 0;
    padding: 0;
}

/* 搜索引擎选项 */
#search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 1.35pc;
}

#search-form input {
    width: 35pc;
}

#search-form input[type="text"] {
    font-size: 1.35pc;
    border: none;
    user-select: none;
    background-color: transparent;
    /* 设置输入框的背景色为透明 */
    border: none;
    /* 取消输入框的边框 */
    outline: none;
    /* 取消输入框获得焦点时的外边框 */
    position: relative;
}

/*搜索输入框和提交按钮大小*/
.input-group {
    width: 600px;
    /* 设置一个固定的宽度 */
    display: flex;
}

/*占位符点击后字体颜色样式*/
input[type="text"]:focus::placeholder {
    color: black;
}

#search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio-group {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    user-select: none;
}

.radio-group label {
    margin: 0 10px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    margin-right: 10px;
}

/*点击选项取消圆圈显示*/
.radio-group input[type="radio"] {
    display: none;
}

/*搜索引擎选项按钮样式*/
.hvr-bubble-bottom {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative
}

.hvr-bubble-bottom:before {
    pointer-events: none;
    position: absolute;
    content: '';
    border-style: solid;
    left: calc(50% - 8px);
    bottom: 0;
    border-width: 7px 7px 0;
    border-color: #383b3f transparent transparent;
    display: none;
    /* 默认隐藏 */
}

/* 选中时的样式 */
input:checked+label.hvr-bubble-bottom:before {
    display: block;
    transform: translateY(10px);
}

/*搜索图标、放大镜*/
.bn632-hover {
    width: 70px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 40px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 5px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn25 {
    background-image: linear-gradient(to right, #FF6347, #FF8C00, #FFD700, #3CB371);
}

.input-group-button.dark {
    --background: #2f3545;
    --shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
    --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
}

.input-group-button.white {
    --background: #fff;
    --text: #275efe;
    --shadow: 0 2px 8px -1px rgba(18, 22, 33, 0.04);
    --shadow-hover: 0 4px 20px -2px rgba(18, 22, 33, 0.12);
}

.input-group-fast {
    --duration: 0.32s;
}

/*链接列表样式*/
#links {
    display: flex;
    flex-wrap: wrap;
    max-width: 1680px;
    margin: 30px auto;
    justify-content: flex-start;
    user-select: none;
}

#links>* {
    width: 250px;
    margin: 12px 15px;
}

/*链接按钮*/
.links-box {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/*链接按钮字体*/
.links-box i {
    width: 190px;
    /* 设置元素的宽度 */
    padding: 25px 0px 25px 20px;
    color: black;
    font-size: 1.35pc;
    text-align: left;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
}

.icon {
    width: 40px;
    /* 初始宽度 */
    height: 40px;
    /* 初始高度 */
    fill: currentColor;
    overflow: hidden;
}

/* Float Shadow */
/*浮影效果*/
.hvr-float-shadow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 0%;
    height: 5px;
    width: 100%;
    opacity: 0;
    background: -webkit-radial-gradient(50% -50%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.hvr-float-shadow:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /*将元素向上移动 5px*/
}

.hvr-float-shadow:hover:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /*将元素向下移动 5px（它将留在原地，因为它附加到也向上移动 5px 的元素）*/
}
