@font-face {
  font-family: "io"; /* Project id 2891463 */
  /* Color fonts */
  src: url("font_2891463_8zaabqsrj3g.woff2") format("woff2"),
    url("font_2891463_8zaabqsrj3g.woff") format("woff"),
    url("font_2891463_8zaabqsrj3g.ttf") format("truetype");
}

.io {
  font-family: "io" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.io-anquanzhongxin:before {
  content: "\e645";
}

.io-ditu:before {
  content: "\e646";
}

.io-gouwu:before {
  content: "\e647";
}

.io-gengxin:before {
  content: "\e648";
}

.io-SIMka:before {
  content: "\e649";
}

.io-beiwanglu:before {
  content: "\e64a";
}

.io-kefu:before {
  content: "\e64b";
}

.io-qianbao:before {
  content: "\e64c";
}

.io-naozhong:before {
  content: "\e64d";
}

.io-dianhua:before {
  content: "\e64e";
}

.io-luyinji:before {
  content: "\e64f";
}

.io-lianxiren:before {
  content: "\e650";
}

.io-shezhi:before {
  content: "\e651";
}

.io-suoping:before {
  content: "\e652";
}

.io-liulanqi:before {
  content: "\e653";
}

.io-jisuanqi:before {
  content: "\e654";
}

.io-shengji:before {
  content: "\e655";
}

.io-xiazai:before {
  content: "\e656";
}

.io-xiangji:before {
  content: "\e657";
}

.io-jiankangzhongxin:before {
  content: "\e658";
}

.io-shoudiantong:before {
  content: "\e659";
}

.io-yinhangkazhuanzhang:before {
  content: "\e65a";
}

.io-tuku:before {
  content: "\e65b";
}

.io-yingyongshangdian:before {
  content: "\e65c";
}

.io-tianqi:before {
  content: "\e65d";
}

.io-xinxi:before {
  content: "\e65e";
}

.io-qinglilaji:before {
  content: "\e65f";
}

.io-wenjianguanli:before {
  content: "\e660";
}

.io-zhuti:before {
  content: "\e661";
}

.io-youxizhongxin:before {
  content: "\e662";
}

.io-youjian:before {
  content: "\e663";
}

.io-yinle:before {
  content: "\e664";
}

.io-zhinanzhen:before {
  content: "\e665";
}
