@font-face {
  font-family: "io";
  /* Project id 1976370 */
  src: url('./fonts/io.woff2?t=1627493826118') format('woff2'),
    url('./fonts/io.woff?t=1627493826118') format('woff'),
    url('./fonts/io.ttf?t=1627493826118') format('truetype');
}

.io {
  font-family: "io" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.io-fengmi:before {
  content: "\fa6f";
}

.io-hebaodan:before {
  content: "\fa70";
}

.io-jiushui:before {
  content: "\fa71";
}

.io-kaoji:before {
  content: "\fa72";
}

.io-pisa:before {
  content: "\fa73";
}

.io-sanmingzhi:before {
  content: "\fa74";
}

.io-binggan:before {
  content: "\fa75";
}

.io-dangao:before {
  content: "\fa76";
}

.io-kafei:before {
  content: "\fa77";
}

.io-makalong:before {
  content: "\fa78";
}

.io-niunai:before {
  content: "\fa79";
}

.io-tiantong:before {
  content: "\fa7a";
}

.io-danjuan:before {
  content: "\fa7b";
}

.io-mianshi:before {
  content: "\fa7c";
}

.io-shutiao:before {
  content: "\fa7d";
}

.io-yinliao:before {
  content: "\fa7e";
}

.io-cha:before {
  content: "\fa7f";
}

.io-guozhi:before {
  content: "\fa80";
}

.io-haixian:before {
  content: "\fa81";
}

.io-niupai:before {
  content: "\fa82";
}

.io-xingbake:before {
  content: "\fa83";
}

.io-danchaofan:before {
  content: "\fa84";
}

.io-naicha:before {
  content: "\fa85";
}

.io-shuiguo:before {
  content: "\fa86";
}

.io-chilun:before {
  content: "\e67d";
}

.io-diqiu:before {
  content: "\e67e";
}

.io-lianxiren:before {
  content: "\e683";
}

.io-xiangce1:before {
  content: "\e688";
}

.io-zhinanzhen:before {
  content: "\e689";
}

.io-bangzhu1:before {
  content: "\e68a";
}

.io-dengpao:before {
  content: "\e68b";
}

.io-zhexiantu:before {
  content: "\e694";
}

.io-tiantianquan:before {
  content: "\fa67";
}

.io-pijiu:before {
  content: "\fa68";
}

.io-bingqilin:before {
  content: "\fa69";
}

.io-bangbangtang:before {
  content: "\fa6a";
}

.io-hanbaobao:before {
  content: "\fa6b";
}

.io-xuegao:before {
  content: "\fa6c";
}

.io-zhushi:before {
  content: "\fa6d";
}

.io-dianxin:before {
  content: "\fa6e";
}

.io-sousuo:before {
  content: "\e617";
}

.io-sousuo1:before {
  content: "\e687";
}

.io-sousuo-tianchong:before {
  content: "\e621";
}

.io-sousuo2:before {
  content: "\e663";
}

.io-sousuo3:before {
  content: "\e782";
}

.io-sousuo4:before {
  content: "\e6ea";
}

.io-sousuo_2:before {
  content: "\e6d2";
}

.io-sousuo5:before {
  content: "\e72a";
}

.io-Iconly-Bold-Buy:before {
  content: "\e600";
}

.io-Iconly-Bold-Filter:before {
  content: "\e601";
}

.io-Iconly-Bold-Discovery:before {
  content: "\e602";
}

.io-a-Iconly-Bold-Image2:before {
  content: "\e603";
}

.io-Iconly-Bold-Discount:before {
  content: "\e604";
}

.io-Iconly-Bold-Home:before {
  content: "\e605";
}

.io-Iconly-Bold-Search:before {
  content: "\e608";
}

.io-Iconly-Bold-Play:before {
  content: "\e60b";
}

.io-a-Iconly-Bold-TickSquare:before {
  content: "\e60c";
}

.io-Iconly-Bold-Scan:before {
  content: "\e60d";
}

.io-a-Iconly-Bold-Voice2:before {
  content: "\e610";
}

.io-a-Iconly-Bold-PaperPlus:before {
  content: "\e611";
}

.io-Iconly-Bold-Ticket:before {
  content: "\e612";
}

.io-Iconly-Bold-Wallet:before {
  content: "\e613";
}

.io-a-Iconly-Bold-VolumeDown:before {
  content: "\e616";
}

.io-picture:before {
  content: "\e609";
}

.io-camera:before {
  content: "\e60a";
}

.io-medal:before {
  content: "\e60e";
}

.io-file_transfer:before {
  content: "\e60f";
}

.io-bird-copy:before {
  content: "\e61a";
}

.io-star1:before {
  content: "\e61e";
}

.io-collection:before {
  content: "\e620";
}

.io-add:before {
  content: "\e624";
}

.io-modify:before {
  content: "\e627";
}

.io-statistics_one:before {
  content: "\e632";
}

.io-time_one:before {
  content: "\e633";
}

.io-time_two:before {
  content: "\e653";
}

.io-location:before {
  content: "\e654";
}

.io-service:before {
  content: "\e656";
}

.io-emoticon:before {
  content: "\e657";
}

.io-video_camera:before {
  content: "\e65c";
}

.io-water_rate:before {
  content: "\e662";
}

.io-a-AddUser:before {
  content: "\e628";
}

.io-a-Arrow-DownCircle:before {
  content: "\e629";
}

.io-a-2User:before {
  content: "\e62a";
}

.io-a-3User:before {
  content: "\e62b";
}

.io-a-Arrow-Down2:before {
  content: "\e62c";
}

.io-a-Arrow-LeftSquare:before {
  content: "\e62d";
}

.io-a-Arrow-LeftCircle:before {
  content: "\e62e";
}

.io-a-Arrow-Left:before {
  content: "\e62f";
}

.io-Activity:before {
  content: "\e630";
}

.io-a-Arrow-Right2:before {
  content: "\e631";
}

.io-google-circle-fill:before {
  content: "\e81c";
}

.io-google-fill:before {
  content: "\e81d";
}

.io-instagram-circle-fill:before {
  content: "\e81e";
}

.io-instagram-fill:before {
  content: "\e81f";
}

.io-baidu-circle-fill:before {
  content: "\e82e";
}

.io-qq-circle-fill:before {
  content: "\e82f";
}

.io-pifuzhongxin:before {
  content: "\e634";
}

.io-gengduo:before {
  content: "\e635";
}

.io-shouye:before {
  content: "\e636";
}

.io-shezhi:before {
  content: "\e637";
}

.io-jia:before {
  content: "\e638";
}

.io-anquanzhongxin:before {
  content: "\e639";
}

.io-dingshiguanbi:before {
  content: "\e63a";
}

.io-xiazai:before {
  content: "\e63b";
}

.io-bangzhu:before {
  content: "\e648";
}

.io-huatong:before {
  content: "\e649";
}

.io-dingwei:before {
  content: "\e64a";
}

.io-dianzan:before {
  content: "\e64c";
}

.io-paihangbang:before {
  content: "\e64d";
}

.io-xiangce:before {
  content: "\e64e";
}

.io-faxian:before {
  content: "\e64f";
}

.io-xiaoxi:before {
  content: "\e650";
}

.io-wode:before {
  content: "\e652";
}

.io-gongzhonghao:before {
  content: "\e614";
}

.io-balance:before {
  content: "\e63d";
}

.io-integral:before {
  content: "\e63e";
}

.io-gas:before {
  content: "\e63f";
}

.io-water:before {
  content: "\e640";
}

.io-phone:before {
  content: "\e641";
}

.io-room:before {
  content: "\e642";
}

.io-electric:before {
  content: "\e643";
}

.io-home-page:before {
  content: "\e644";
}

.io-my:before {
  content: "\e645";
}

.io-star:before {
  content: "\e646";
}

.io-housekeeper:before {
  content: "\e647";
}

.io-tubiao09:before {
  content: "\e65a";
}

.io-tubiao-chatou:before {
  content: "\e690";
}

.io-sound:before {
  content: "\e61c";
}

.io-CD:before {
  content: "\e61f";
}

.io-disc:before {
  content: "\e622";
}

.io-sun:before {
  content: "\e623";
}

.io-daohanglantubiao_zonghe:before {
  content: "\e607";
}

.io-shejiyukaifa-:before {
  content: "\eae1";
}

.io-dashujukeshihuaico-:before {
  content: "\e800";
}

.io-tubiao_shejiku:before {
  content: "\e63c";
}

.io-waixingren:before {
  content: "\e66d";
}

.io-xingqiu:before {
  content: "\e66e";
}

.io-chuanshu:before {
  content: "\e66f";
}

.io-ufo:before {
  content: "\e670";
}

.io-fenxiang:before {
  content: "\e671";
}

.io-men:before {
  content: "\e679";
}

.io-guangjian:before {
  content: "\e67b";
}

.io-qianbi:before {
  content: "\e67c";
}

.io-chuangketie:before {
  content: "\e67f";
}

.io-xiaolian:before {
  content: "\e684";
}

.io-beishang:before {
  content: "\e685";
}

.io-xiuxi:before {
  content: "\e686";
}