@font-face {
  font-family: "io"; /* Project id 2891436 */
  /* Color fonts */
  src: 
       url('font_2891436_d9u4b1x0bb.woff2') format('woff2'),
       url('font_2891436_d9u4b1x0bb.woff') format('woff'),
       url('font_2891436_d9u4b1x0bb.ttf') format('truetype');
}

.io {
  font-family: "io" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.io-tiantianquan:before {
  content: "\fa67";
}

.io-pijiu:before {
  content: "\fa68";
}

.io-bingqilin:before {
  content: "\fa69";
}

.io-bangbangtang:before {
  content: "\fa6a";
}

.io-hanbaobao:before {
  content: "\fa6b";
}

.io-xuegao:before {
  content: "\fa6c";
}

.io-zhushi:before {
  content: "\fa6d";
}

.io-dianxin:before {
  content: "\fa6e";
}

.io-fengmi:before {
  content: "\fa6f";
}

.io-hebaodan:before {
  content: "\fa70";
}

.io-jiushui:before {
  content: "\fa71";
}

.io-kaoji:before {
  content: "\fa72";
}

.io-pisa:before {
  content: "\fa73";
}

.io-sanmingzhi:before {
  content: "\fa74";
}

.io-binggan:before {
  content: "\fa75";
}

.io-dangao:before {
  content: "\fa76";
}

.io-kafei:before {
  content: "\fa77";
}

.io-makalong:before {
  content: "\fa78";
}

.io-niunai:before {
  content: "\fa79";
}

.io-tiantong:before {
  content: "\fa7a";
}

.io-danjuan:before {
  content: "\fa7b";
}

.io-mianshi:before {
  content: "\fa7c";
}

.io-shutiao:before {
  content: "\fa7d";
}

.io-yinliao:before {
  content: "\fa7e";
}

.io-cha:before {
  content: "\fa7f";
}

.io-guozhi:before {
  content: "\fa80";
}

.io-haixian:before {
  content: "\fa81";
}

.io-niupai:before {
  content: "\fa82";
}

.io-xingbake:before {
  content: "\fa83";
}

.io-danchaofan:before {
  content: "\fa84";
}

.io-naicha:before {
  content: "\fa85";
}

.io-shuiguo:before {
  content: "\fa86";
}

